# Python variable and data types

# Integers and float

In [8]:
#Addition and substraction

Tl_money = 55 # Arithmetic operations
ud_money = 30
left = 55-30
print('Money after shopping ',left)

Gt_lottary = 5000
in_hand = Gt_lottary + left
print('After getting lottary total money is: ', in_hand)

Money after shopping  25
After getting lottary total money is:  5025

In [ ]:
# Num_of_student = 500
group_members = 12
total_group = Num_of_student // group_members  # have to user double backslach only for getting the int value
print('Total numbers of group members are: ', total_group)

# Strings

In [11]:
name = 'Sudhakar das'
university  = 'Rnagamati Science and tecnology universtiy'
print('My name is', name, 'i studied in', university)

My name is Sudhakar das i studied in Rnagamati Science and tecnology universtiy

In [14]:
#String concatenation
name = 'Sudhakar das'
reg = '2015-12-13'
st_concat = name + ' is a student of ' + university + ' bearing the Reg no ' + reg 
st_concat

'Sudhakar das is a student of Rnagamati Science and tecnology universtiy bearing the Reg no 2015-12-13'

In [46]:
print(len(name))

12

# Boolean

In [19]:
boolean = ('akash' == 'akas') # We can not use = symbol as it is assignment operators.
print(boolean)
if boolean:
    print('I will do enverything')

False

# Data structure are container that can include different Data Type
Data Structure can hold data of different Data Type
All Data Types are not Data Structure
All Data Structure are Data Type
A List , Tuple , Dictionary , Set is an example of Data Structure.

Data Type defines what type of data should be stored within the variable.


Data type define the types of data a variable going to stored and. Data structure is the collection of data of different types and provide a way to access and apply operations on the data. 

Data types do not store data as it just define tha types of data going to be stored. and Data structure actually store the data.

# Data types and the Data structure

# List

In [49]:
# List is ordered, mutable, hashable, slower than touple and dictionary

lis = list()
lis = [2,3,4,5,6,7,8]

#indexiing we can get the value of any element by it's index.
print(lis[0])
print(lis[-1]) # Negetive indexing also possible


lis.insert(9, 0) #lis.insert(index, object)

lis.extend([10,11,12]) # For adding multiple value at a time 
lis.append(13) # For adding only single  value.
lis.remove(12)#Removing  a specofic element from the list and put the value you want to delete.
lis.pop(1)# # Removing  a speciic element from the list and put the indexwant to delete.
lis

2
8

[2, 4, 5, 6, 7, 8, 0, 10, 11, 13]

# Slicing

In [53]:
# lis = lis[1:5]  # inclusive for the start index and exclusive for the last index 

print(lis[1:-2]) # negetive indexing is 1 based and positive is 0 based.
reverse = lis[::-1] # for reversing a lis
print(reverse)

[4, 5, 6, 7, 8, 0, 10]
[13, 11, 10, 0, 8, 7, 6, 5, 4, 2]

In [57]:
# Joining a list using join function
my_friends = ['Akash', 'Sudhakar', 'Nippon', ' Moin', 'Rahul']
my_friends = ' '.join([i for i in my_friends])
print(my_friends.split())

['Akash', 'Sudhakar', 'Nippon', 'Moin', 'Rahul']

# Dictionary

In [58]:
#Creating Dictionary
rmstu = {'Name': ['Akash', 'Rahul', 'Nippon', 'Moin', 'tarek'],
         'Batch': '2nd',
         'Session': '2015-16',
         'Completion': '7 years'
        }

In [59]:
type(rmstu) # deriving the rmstu

dict

In [75]:
print(rmstu.keys()) # accessing the keys
print(list(rmstu.values())[1]) # accessing the values

dict_keys(['Name', 'Batch', 'Session', 'Completion'])
2nd

In [64]:
Name = rmstu['Name'] # accessing values of specific key 
print(rmstu.get('Name'))

['Akash', 'Rahul', 'Nippon', 'Moin', 'tarek']

In [66]:
rmstu['Name'] = 'Dhiman' # Updating a new value
rmstu.values()

dict_values(['Dhiman', '2nd', '2015-16', '7 years'])

In [69]:
items = rmstu.items()

dict_items([('Name', 'Dhiman'), ('Batch', '2nd'), ('Session', '2015-16'), ('Completion', '7 years')])

In [76]:
#Updating a dictionary
rmstu['Name'] = ['Dhiman, Sudhakar']
rmstu.values()

dict_values([['Dhiman, Sudhakar'], '2nd', '2015-16', '7 years'])

# Touple

# It is not mutable that's all

In [78]:
tou = ('What', 'can', 'i', 'do', 'for', 'you')
#I think two methods are available in touple count and index
x = tou.count('can')
print(tou.index('can'))

1